@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1160px;
}
/* --------------------header -----------------------*/
header {
  display: flex;
  justify-content: center;
  background-color: #2d25a0;
}
.navbar {
  background-color: #2d25a0;
  display: flex;
  justify-content: space-between;
  height: 44px;
  margin-top: 42px;
}
.navbar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin: 0 36px;
}
.navbar-login {
  background-color: #e02c6d;
  width: 125px;
  height: 45px;
}
.navbar-item .login-link {
  margin: 0 0 0 8px;
  font-size: 16px;
}
.navbar .login-img {
  width: 24px;
}
.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------ conmebol section--------------------- */
.conmebol-section {
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
  height: 590px;
  width: 100%;
  padding: 0 20px;
}
.conmebol-banner {
  max-width: 1160px;
  display: flex;
  justify-content: center;
  margin-top: 68px;
}
.banner-img img {
  width: 556px;
  height: 438px;
}
.first-half {
  color: white;
  margin-right: 105px;
  margin-top: 60px;
}
.first-half a {
  text-decoration: none;
  color: white;
}
.watch-live-btn {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-top: 27px;
}
.watch-live-btn a {
  margin-right: 8px;
}
.first-half h1 {
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  line-height: 80px;
}
/* --------------player section ----------------*/
.player-section {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
}
.copa-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 28px;
  grid-column-gap: 30px;
}
.player {
  width: 300px;
  height: 440px;
  padding: 15px 15px 33px 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-img img {
  width: 100%;
  height: 255px;
}
.player-details h3 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
}
.player-details p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}
/* ----------------highlights ------------------*/

.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
}
.all-highlights {
  width: 470px;
  height: 310px;
  margin-right: 66px;
}
.all-highlights h1 {
  font-size: 48px;
  font-weight: 700;
}
.all-highlights p {
  text-align: justify;
  line-height: 28px;
}
.all-highlights .watch-live-btn {
  margin-left: 0;
  margin-top: 24px;
  color: white;
}
.all-highlights .watch-live-btn a {
  text-decoration: none;
  color: white;
}
.match-img img {
  width: 568px;
  height: 428px;
}
/* --------footer------- */
.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 60px;
}
.main-footer p {
  font-size: 18px;
  line-height: 24px;
}
.footer-logo img {
  height: 110px;
  width: 485px;
}
.footer-icon {
  margin: 20px 0;
}
.footer-icon img {
  height: 32px;
  width: 32px;
  margin-right: 14px;
}
