@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1160px;
}
/* --------------------header -----------------------*/
header {
  display: flex;
  justify-content: center;
  background-color: #2d25a0;
}
.navbar {
  background-color: #2d25a0;
  display: flex;
  justify-content: space-between;
  height: 44px;
  margin-top: 42px;
}
.navbar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin: 0 36px;
}
.navbar-login {
  background-color: #e02c6d;
  width: 125px;
  height: 45px;
}
.navbar-item .login-link {
  margin: 0 0 0 8px;
  font-size: 16px;
}
.navbar .login-img {
  width: 24px;
}
.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------ conmebol section--------------------- */
.conmebol-section {
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
  height: 590px;
  width: 100%;
  padding: 0 20px;
}
.conmebol-banner {
  max-width: 1160px;
  display: flex;
  justify-content: center;
  margin-top: 68px;
}
.banner-img img {
  width: 556px;
  height: 438px;
}
.first-half {
  color: white;
  margin-right: 105px;
}
.first-half a {
  text-decoration: none;
  color: white;
}
.watch-live-btn {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-top: 27px;
}
.watch-live-btn a {
  margin-right: 8px;
}
.first-half h1 {
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  line-height: 80px;
}
/* --------------player section ----------------*/
.copa-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.copa-players .player {
  width: 330px;
  height: 475px;
  padding: 15px;
  border: 2px solid black;
}
.player-img img {
  width: 100%;
  height: 255px;
}
.player-details h3 {
  font-size: 28px;
  font-weight: 700;
}
.player-details p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}
