@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.container {
  width: 1160px;
}
/* --------------------header -----------------------*/
header {
  display: flex;
  justify-content: center;
  background-color: #2d25a0;
}
.navbar {
  background-color: #2d25a0;
  display: flex;
  justify-content: space-between;
  height: 44px;
  margin-top: 42px;
}
.navbar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin: 0 36px;
}
.navbar-login {
  background-color: #e02c6d;
  width: 125px;
  height: 45px;
  transition: transform 150ms;
}
.navbar-login .fa-sign-in-alt {
  color: white;
}
.navbar-login:hover {
  transform: translateX(-10px);
}
.navbar-item .login-link {
  margin: 0 0 0 8px;
  font-size: 16px;
}
.navbar .login-img {
  width: 24px;
}
.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------ conmebol section--------------------- */
.conmebol-section {
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
  height: 590px;
  width: 100%;
  padding: 0 20px;
}
.conmebol-banner {
  max-width: 1160px;
  display: flex;
  justify-content: center;
  margin-top: 68px;
}
.banner-img img {
  width: 556px;
  height: 438px;
}
.first-half {
  color: white;
  margin-right: 105px;
  margin-top: 60px;
}
.first-half a {
  text-decoration: none;
  color: white;
}
.watch-live-btn {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-top: 27px;
  transition: transform 250ms;
}
.watch-live-btn a {
  margin-right: 8px;
}
.watch-live-btn:hover {
  transform: translateY(-10px);
}
.first-half h1 {
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  line-height: 80px;
}
/* --------------player section ----------------*/
.player-section {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
}
.copa-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 28px;
  grid-column-gap: 30px;
  margin-bottom: 150px;
}
.player {
  width: 330px;
  height: 460px;
  padding: 15px 15px 33px 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-img img {
  width: 100%;
  height: 255px;
}
.player-details h3 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 16px;
}
.player-details p {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}
/* ----------------highlights ------------------*/

.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
}
.all-highlights {
  width: 470px;
  height: 310px;
  margin-right: 66px;
}
.all-highlights h1 {
  font-size: 48px;
  font-weight: 700;
}
.all-highlights p {
  text-align: justify;
  line-height: 28px;
}
.all-highlights .watch-live-btn {
  margin-left: 0;
  margin-top: 24px;
  color: white;
}
.all-highlights .watch-live-btn a {
  text-decoration: none;
  color: white;
}
.match-img img {
  width: 568px;
  height: 428px;
}
/* ---------------footer--------------------- */
.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 60px;
}
.main-footer p {
  font-size: 18px;
  line-height: 24px;
}
.footer-logo img {
  height: 110px;
  width: 485px;
}
.footer-icon {
  display: flex;
  margin: 20px 0;
}
.footer-icon .icon {
  width: 32px;
  height: 32px;
  background-color: rgb(209, 204, 204);
  margin-right: 14px;
  border-radius: 15px;
}
.footer-icon .icon p {
  margin-top: 5px;
  margin-left: 8px;
  color: gray;
  font-weight: 700;
  font-size: 18px;
}
.footer-icon .icon .fa-youtube {
  margin: 0;
  padding-right: 2px;
}
.footer-icon img {
  height: 32px;
  width: 32px;
  margin-right: 14px;
}
/*--------- mobile responsive --------------*/
@media only screen and (min-width: 320px) and (max-width: 680px) {
  .conmebol-section {
    width: 100%;
  }
  .copa-players {
    grid-template-columns: repeat(1, 1fr);
  }
  .highlights {
    flex-direction: column;
  }
  .all-highlights {
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin: auto;
  }
  .match-img img {
    width: 90vw;
    height: auto;
  }
  .copa-players {
    margin-bottom: 60px;
  }
  .watch-live-btn {
    margin-bottom: 30px;
  }
  .footer-logo img {
    width: 90vw;
    height: auto;
  }
  .main-footer {
    margin-top: 20px;
    margin: auto;
  }
  .conmebol-banner {
    flex-direction: column;
  }
  .first-half {
    width: 90vw;
    margin: auto;
    height: auto;
  }
  .conmebol-section {
    height: auto;
  }
  .banner-img img {
    width: 80vw;
    height: auto;
  }
  .navbar {
    width: 90vw;
    margin: auto;
    height: auto;
  }
}
/* ----------------------tab responsive---------------- */
@media only screen and (min-width: 681px) and (max-width: 1024px) {
  .copa-players {
    grid-template-columns: repeat(2, 1fr);
  }
  .conmebol-section {
    width: 100%;
  }
  .first-half {
    width: 50vw;
    margin: 0 auto;
  }
  .banner-img img {
    width: 50vw;
    height: auto;
  }
  .all-highlights {
    flex-direction: column;
    width: 50vw;
    height: auto;
    margin: auto 10px auto 20px;
  }
  .match-img img {
    width: 50vw;
    height: auto;
    margin: auto;
  }
  .first-half {
    margin: auto auto auto 20px;
  }
}
